 <li>
    <%= link_to "#" do %>
      <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
    <% end %>
</li>

<div class="container">
  <div class="row">
    <%= @connection.host.first_name %>
    <h2> <%= @connection.status %> </h2>
    <% if @connection.status == "suggested" %>
      <%= link_to "invit", connection_path, method: :patch %>
    <% elsif @connection.status == "invited" %>
      <h2> Wait for your confirmation </h2>
      <%= link_to "Confirm", connection_path, method: :patch %>
      <%= link_to "Decline", decline_connection_path(@connection), data: { confirm: "Are you sure?" }, method: :patch %>
    <% elsif @connection.status == "waiting" %>
      <h2> Wait for your confirmation </h2>
      <%= link_to "Cancel", cancel_connection_path(@connection), method: :patch %>
    <% else %>
      <h2>
        Wait for <%= @connection.guest.first_name %>'s confirmation
      </h2>
    <% end %>

    <%= link_to "Back", dashboard_path %>
  </div>
</div>
