<% if @current_review %>
  <h4> Your review </h4>
  <p><%= @current_review %></p>
  <%= link_to "Edit", edit_review_path(@connection, @meeting), class: "togather-button btn-yellow" %>
  <%= link_to "Delete", review_path(@connection, @meeting), method: :delete, class: "togather-button btn-yellow" %>
<% else %>
  <h2> Make a review </h2>
  <%= render "form_review" %>
<% end %>


<% if @other_review %>
  <h4><%= "#{@other_meeter.first_name} #{@other_meeter.last_name} 's Review" %></h4>
  <p style="font-size: 14px"><%= @other_review %></p>
<% else %>
  <h4><%= "#{@other_meeter.first_name} #{@other_meeter.last_name} n'a pas encore fait de review" %></h4>
<% end %>

