<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-3 wrapper-col-3">
      <div class="row">

        <%= render "shared/navbar" %>
        <div class="profil-wrapper">
          <div class="profile-bio">
            <% if @meeting.connection.guest != current_user %>
              <div class="profile-picture">
                <% if @meeting.connection.guest.photo? %>
                  <%= cl_image_tag @meeting.connection.guest.photo.path, gravity: "face", width: 100, height: 100, :crop=>"thumb", radius: "max" %>
                <% else %>
                  <%= image_tag "http://placehold.it/100x100" %>
                <% end %>
              </div>
              <div class="desc-bio">
                <span class="bio-title"><%= @meeting.connection.guest.first_name%> <%=@meeting.connection.guest.last_name %></span>
                <p>
                  <%= truncate(@meeting.connection.guest.bio, length: 100) %>
                </p>
              </div>
              <!-- <h3><%= @meeting.connection.guest.first_name%> <%=@meeting.connection.guest.last_name %></h3> -->
            <% elsif @meeting.connection.host != current_user %>
              <div class="profile-picture">
                <% if @meeting.connection.host.photo? %>
                  <%= cl_image_tag @meeting.connection.host.photo.path, gravity: "face", width: 100, height: 100, :crop=>"thumb", radius: "max" %>
                <% else %>
                  <%= image_tag "http://placehold.it/100x100" %>
                <% end %>
              </div>
              <div class="desc-bio">
                <span class="bio-title"><%= @meeting.connection.host.first_name%> <%=@meeting.connection.host.last_name %></span>
                <p>
                  <%= truncate(@meeting.connection.host.bio, length: 100) %>
                </p>
              </div>
              <!-- <h3><%= @meeting.connection.host.first_name%> <%=@meeting.connection.host.last_name %></h3> -->
            <% end %>
          </div>
          <div class="profile-details">
            <div class="profile-workplace">
              <% if @meeting.connection.guest != current_user %>
                <span class="bio-title"><%= @meeting.connection.guest.first_name %>'s work place</span>
                <p>
                  <% if @meeting.connection.guest.work_place.nil? %>
                    <%= "-" %>
                  <% else %>
                    <%= @meeting.connection.guest.work_place %>
                  <% end %>
                </p>
              <% elsif @meeting.connection.host != current_user %>
                <span class="bio-title"><%= @meeting.connection.host.first_name %>'s work place</span>
                <p>
                  <% if @meeting.connection.host.work_place.nil? %>
                    <%= "-" %>
                  <% else %>
                    <%= @meeting.connection.host.work_place %>
                  <% end %>
                </p>
              <% end %>
            </div>
            <div class="profile-interests">
              <% if @meeting.connection.guest != current_user %>
                <span class="bio-title"><%= @meeting.connection.guest.first_name%>'s interests</span>
                <div class="profile-skills">
                  <div class="skills-icons">
                    <% s = @meeting.connection.guest.skills.shuffle %>
                    <% skills = s.sample(14) %>
                    <% skills.each do |skill| %>
                      <%= image_tag(skill.icon) %>
                    <% end %>
                    ...
                  </div>
                </div>
              <% elsif @meeting.connection.host != current_user %>
                <span class="bio-title"> <%= @meeting.connection.host.first_name%>'s interests</span>
                <div class="profile-skills">
                  <div class="skills-icons">
                    <% s = @meeting.connection.host.skills.shuffle %>
                    <% skills = s.sample(14) %>
                    <% skills.each do |skill| %>
                      <%= image_tag(skill.icon) %>
                    <% end %>
                    ...
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <hr>


          <div class="choice-review">
            <% if @meeting.date && @meeting.date < DateTime.now %>
              <% if @meeting.connection.host != current_user %>
                <h5> Do you want to share your network with <%=@meeting.connection.host.first_name%> ? </h5>
              <% else %>
                <h5> Do you want to share your network with <%= @meeting.connection.guest.first_name%> ? </h5>
              <% end %>
              <% if @connection.status == "valid" %>
                <%= render "form_finalize_status", value: "Connect our Networks" %><%= render "form_finalize_status", value: "Refuse it" %>
              <% elsif @connection.status == "connected" %>
                <%= render "form_finalize_status", value: "Refuse it" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-9 wrapper-col-9">

        <div class="page-header">
          <h1>Our Meeting</h1>
          <p class="text-muted">
            <% if @meeting.place %>
              <%= @meeting.place.name %> - <%= @meeting.date.strftime('%m/%d/%Y %I:%M %p') %>
              <%= link_to "Choose another place", connection_meeting_places_path(@connection, @meeting), class: "btn btn-xs btn-primary" %>
            <% else %>
              <%= link_to "Choose a place", connection_meeting_places_path(@connection, @meeting), class: "btn btn-xs btn-primary" %>
            <% end %>
          </p>
        </div>

        <div class="wrapping-case" style="padding: 0 30px;">
          <div class="row">
            <div class="col-md-7">
              <div class="messagerie">
                <div class="suggestion-wrapper">
                  <div class="suggestion-content messagerie" >
                    <h3 id="hiding-bar">
                      MESSAGES
                    </h3>
                    <div class="underspace"></div>
                    <%= render 'shared/message_row' %>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <% if @meeting.date && @meeting.date < DateTime.now %>
                <h3> Add a review to your meeting</h3>
                <%= render 'reviews' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
