<div id="movefromright">
  <div class="total-wrap">
  <div class="container-fluid">
    <div class="row">
         <div class="col-md-3 no-marginlr-col">
      <div class="row">
        <%= render "shared/navbar" %>
        <div class="profil-wrapper">
          <div class="profile-bio">
             <% if @meeting.connection.guest != current_user%>
                  <% if @meeting.connection.guest.photo? %>
                  <%= cl_image_tag current_user.photo.path, gravity: "face", width: 100, height: 100, :crop=>"thumb", radius: "max" %>
                  <% else %>
                    <%= image_tag "http://placehold.it/100x100" %>
                  <% end %>
                  <br>
                  <br>
                  <h3> <%= @meeting.connection.guest.first_name%> <%=@meeting.connection.guest.last_name %> </h3>

                <% elsif @meeting.connection.host != current_user %>
                 <% if @meeting.connection.guest.photo? %>
                  <%= cl_image_tag current_user.photo.path, gravity: "face", width: 100, height: 100, :crop=>"thumb", radius: "max" %>
                  <% else %>
                    <%= image_tag "http://placehold.it/100x100" %>
                  <% end %>
                  <br>
                  <br>
                  <h3> <%= @meeting.connection.guest.first_name%> <%=@meeting.connection.guest.last_name %> </h3>

                  <% end %>
                </div>
          </div>
<br>
          <div class="profile-interests">
            <% if @meeting.connection.guest != current_user %>
              <span class="bio-title"> <%= @meeting.connection.guest.first_name%>'s bio </span>
              <div class="profile-skills">
                <div class="skills-icons">
                <%= truncate(@meeting.connection.guest.bio, length: 105) %>

                </div>
              </div>

                <% elsif @meeting.connection.host != current_user %>
              <span class="bio-title"> <%= @meeting.connection.host.first_name%>'s bio </span>
              <div class="profile-skills">
                <div class="skills-icons">
                <%= truncate(@meeting.connection.host.bio, length: 105) %>
              <% end %>
            </div>

            <br>

          <div class="profile-details">
            <div class="profile-workplace">
              <span class="bio-title">Our Meeting</span>
              <% if @meeting.place %>
                <p>Place : <%= @meeting.place.name %></p>
                <br>
                <p>Place : <%= @meeting.date.strftime('%m/%d/%Y %I:%M %p') %></p>
                <%= link_to "Choise a other places", connection_meeting_places_path(@connection, @meeting) %>
                <br>
              <% else %>
                <%= link_to "Choise places", connection_meeting_places_path(@connection, @meeting) %>
              <% end %>
            </div>

            <br>

            <div class="profile-interests">
              <span class="bio-title">Your interests</span>
              <div class="profile-skills">
                <div class="skills-icons">
                <% if @meeting.connection.guest != current_user%>
                  <% s =  @meeting.connection.guest.skills.shuffle %>
                  <% skills = s.sample(14) %>
                  <% skills.each do |skill| %>
                    <%= image_tag(skill.icon) %>
                  <% end %>
               <% elsif @meeting.connection.guest != current_user%>
                  <% s =  @meeting.connection.guest.skills.shuffle %>
                  <% skills = s.sample(14) %>
                  <% skills.each do |skill| %>
                    <%= image_tag(skill.icon) %>
                  <% end %>
                <% end%>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div> <!--profil wrapper-->
      </div> <!--col-->


      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 no-marginlr-col">
  <h1>MESSAGES</h1>
            <!-- Messages -->


            <%= render 'shared/message_row' %>

            <% if @meeting.date && @meeting.date < DateTime.now %>
              <!-- Reviews -->
              <%= render 'reviews' %>
              <!-- Finalize -->
              <% if @connection.status == "valid" %>
                <%= render "form_finalize_status", value: "connected" %>
                <%= render "form_finalize_status", value: "refused" %>
              <% elsif @connection.status == "connected" %>
                <%= render "form_finalize_status", value: "refused" %>
              <% end %>
            <% end %>
          </div>

          <div class="col-md-6">
  <h1>ORGANISATEUR</h1>
          </div>

          <div class="col-md-12">
            <h1> REVIEW </h1>
          </div>


          </div>
        </div>
      </div>
    </div><!-- row -->
  </div>
</div>

