
 <li>
    <%= link_to "#" do %>
      <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
    <% end %>
</li>


<h1>Meetings#show</h1>
<p>Find me in app/views/meetings/show.html.erb</p>
<p>guest: <%= @connection.guest.first_name %></p>
<p>host: <%= @connection.host.first_name %></p>


<% if @meeting.place %>
  <p>Place : <%= @meeting.place.name %></p>
  <p>Place : <%= @meeting.date.strftime('%m/%d/%Y %I:%M %p') %></p>
  <%= link_to "Choise a other places", connection_meeting_places_path(@connection, @meeting) %>
<% else %>
  <%= link_to "Choise places", connection_meeting_places_path(@connection, @meeting) %>
<% end %>

<!-- Messages -->
<h3>Messages</h3>

<%= render 'shared/message_row' %>

<!-- Reviews -->
<% if @meeting.date && @meeting.date > DateTime.now %>
  <%= render 'reviews' %>
<% end %>

<!-- Finalize -->
<% if @connection.status == "valid" %>
  <%= render "form_finalize_status", value: "connected" %>
  <%= render "form_finalize_status", value: "refused" %>
<% elsif @connection.status == "connected" %>
  <%= render "form_finalize_status", value: "refused" %>
<% end %>

