<a data-toggle="modal" href="#contactModal<%= contact.id %>">
  <div class="suggestion-card">
    <div class="media">
      <div class="media-left">
        <div class="center-picture">
          <% if contact.photo? %>
            <%= cl_image_tag contact.photo.path, gravity: "face", width: 65, height: 65, :crop=>"thumb", radius: "max" %>
          <% else %>
            <%= image_tag "http://placehold.it/65x65" %>
          <% end %>
        </div>
      </div>
      <div class="media-body">
        <div class="suggestion-card-body">
          <div class="suggestion-card-text">
            <span>
              <%= contact.first_name %>
            </span>
            <span>
              <%= status %>
            </span>
          </div>
          <div class="suggestion-card-skills">
            <div class="carousel slide" data-ride="carousel" data-interval=<%= rand(3000..5000) %> data-pause="null" >
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="inline-icons">
                    <% askills = contact.skills.sample(4) %>
                    <% askills.each do |askill| %>
                      <%= image_tag(askill.icon) %>
                    <% end %>
                  </div>
                </div>
                <div class="item">
                  <div class="inline-icons">
                    <% bskills = contact.skills.sample(4) %>
                    <% bskills.each do |bskill| %>
                      <%= image_tag(bskill.icon) %>
                    <% end %>
                  </div>
                </div>
                <div class="item">
                  <div class="inline-icons">
                    <% cskills = contact.skills.sample(4) %>
                    <% cskills.each do |cskill| %>
                      <%= image_tag(cskill.icon) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <%= score %>
            </div>
          </div>
        </div>
      </div>
    </div> <!--media-->
  </div>
</a>
<div class="modal fade" id="contactModal<%= contact.id %>" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= contact.first_name %> <%= contact.last_name%></h4>
      </div>
      <div class="modal-body">

        <div class="profil-wrapper">
          <div class="row">
            <div class="col-xs-3">
              <div class="picture-and-link-in-modal">
                <div class="picture-in-modal">
                  <% if contact.photo? %>
                    <%= cl_image_tag contact.photo.path, gravity: "face", width: 100, height: 100, :crop=>"thumb", radius: "max" %>
                  <% else %>
                    <%= image_tag "http://placehold.it/65x65" %>
                  <% end %>
                </div>
                <div class="link-in-modal text-center">
                  <p>
                    <%= status %>
                  </p>
                  <p>
                    <% if status == "suggested" %>
                      <%= link_to "Invite", connection_path(connection), method: :patch %>
                    <% elsif status == "invited" %>
                      <p> Waiting for your confirmation </p>
                      <%= link_to "Confirm", connection_path(connection), method: :patch %>
                      <%= link_to "Decline", decline_connection_path(connection), data: { confirm: "Are you sure?" }, method: :patch %>
                    <% elsif status == "waiting" %>
                      <p>
                        Waiting for <%= connection.host.first_name %>'s confirmation
                      </p>
                      <%= link_to "Cancel", cancel_connection_path(connection), method: :patch %>
                    <% else %>
                      <%= link_to "Invite", connection_path(connection), method: :patch %>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="desc-bio">
                <p>
                  <%= contact.bio %>
                </p>
                <div class="skills-icons-listing">
                  <% contact.skills.each do |skill| %>
                    <div class="skill-icon">
                      <%= image_tag(skill.icon) %> <%= skill.name %> -&nbsp
                    </div>
                  <% end %>
                </div>
                <br>
                <div class="bio-title">
                  Work place
                </div>
                <p>
                  <%= contact.work_place %>
                </p>
                <% if status == "connected" %>
                  <br>
                  <div class="supp-info">
                    <div class="birthday">
                      <div class="bio-title">
                        Birthday
                      </div>
                      <p>
                        <%= contact.birthday %>
                      </p>
                    </div>
                    <div class="mail">
                      <div class="bio-title">
                        Email
                      </div>
                      <p>
                        <%= contact.email %>
                      </p>
                    </div>
                    <div class="network">
                      <div class="bio-title">
                        Network
                      </div>
                      <p>
                        <%= contact.total_connected.count + contact.total_suggested.count %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
