

    <div class="row suggestions-work">
        <div class="col-md-3">
        <%= render "shared/navbar" %>
          <h3>
            Suggestions
          </h3>
          <ul>
            <% @suggestions.each_with_index do |suggestion, index| %>
              <li> Suggestion <%= index + 1 %>
                <% if suggestion.status == "valid" %>
                  <%= link_to "#{suggestion.host.first_name} #{suggestion.host.last_name} ", connection_meeting_path(suggestion, Meeting.where(connection: suggestion).last), class:"fa fa-anchor btn btn-primary" %>
                <% else %>
                  <%= link_to "#{suggestion.host.first_name} #{suggestion.host.last_name} ", suggestion, class:"fa fa-anchor btn btn-primary" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>


        <div class="col-md-9">
         <div class="row profil-work">
            <div class="col-md-6">
            <h1 class="text-center">
              <%= current_user.first_name %>'s Dashboard !
            </h1>
              <h3>
                Portrait
                <% if current_user.photo? %>
                  <%= cl_image_tag current_user.photo.path, width: 200, height: 300, crop: :fill %>
               <% end %>

              </h3>
              <p>
                <%= current_user.bio %>
              </p>
              <p>
                Work place: <%= current_user.work_place.nil? ? (current_user.work_place) : "-" %>
              </p>
              <p>
                Birthday: <%= current_user.birthday %>
              </p>
              <%= link_to edit_user_registration_path, class: "btn btn-default" do %>
                <i class='fa fa-cogs' aria-hidden='true'></i>
                Profile Settings
              <% end %>
              <hr>
              <h3>
                Interests
              </h3>
              <p>
                <% current_user.skills.each do |skill| %>
                  <%= skill.name %>
                  <%= '-' if (skill != current_user.skills.last) %>
                <% end %>
              </p>
              <%= link_to dashboard_edit_skills_path, class: "btn btn-default" do %>
                <i class='fa fa-cogs' aria-hidden='true'></i>
                Edit interests
              <% end %>
            </div>

            <div class="col-md-6">
              <h3>
                Surroundings
              </h3>
              <% @hash.each do |marker| %>
                <% marker[:picture] = { "url": "#{image_path("place2.png") }", "width":  32, "height": 32 } %>
              <% end %>
              <% @hashcontent = raw @hash.to_json %>
              <div id="map">
                <% content_for(:after_js) do %>
                  <script>
                    $(document).ready(function() {
                      var styles = [{"featureType":"all","elementType":"all","stylers":[{"lightness":"42"},{"visibility":"on"},{"hue":"#ff0000"},{"saturation":"-100"},{"gamma":"0.78"},{"weight":"0.37"},{"invert_lightness":true}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#3ec7c9"},{"visibility":"on"}]}];

                      var handler = Gmaps.build('Google');
                      handler.buildMap({
                        provider: {
                          styles: styles
                        },
                        internal: {
                          id: 'map' }
                        },
                        function() {
                          markers = handler.addMarkers(<%= @hashcontent %>);
                          handler.bounds.extendWith(markers);
                          handler.fitMapToBounds();
                          if (markers.length == 0) {
                            handler.getMap().setZoom(2);
                          } else if (markers.length == 1) {
                            handler.getMap().setZoom(14);
                          }
                        }
                      );
                    });
                  </script>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>



