<div class="total-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 no-marginlr-col">
        <div class="row">
          <%= render "shared/navbar" %>
          <div class="profil-wrapper">
            <div class="profile-bio">
              <div class="profile-picture">
                <% if current_user.photo? %>
                  <%= cl_image_tag current_user.photo.path, gravity: "face", width: 100, height: 100, :crop=>"thumb", radius: "max" %>
                <% else %>
                  <%= image_tag "http://placehold.it/100x100" %>
                <% end %>
                <%= link_to "Edit profile", edit_user_registration_path %>
              </div>
              <div class="desc-bio">
                <span class="bio-title"><%= current_user.first_name %></span>
                <p>
                  <%= truncate(current_user.bio, length: 100) %>
                </p>
              </div>
            </div>
            <div class="profile-details">
              <div class="profile-workplace">
                <span class="bio-title">Work place</span>
                <p>
                  <% if current_user.work_place.nil? %>
                    <%= "-" %>
                  <% else %>
                    <%= current_user.work_place %>
                  <% end %>
                </p>
              </div>
              <div class="profile-interests">
                <span class="bio-title">Your interests</span>
                <div class="profile-skills">
                  <div class="skills-icons">
                    <% s = current_user.skills.shuffle %>
                    <% skills = s.sample(14) %>
                    <% skills.each do |skill| %>
                      <%= image_tag(skill.icon) %>
                    <% end %>
                    ...
                  </div>
                  <%= link_to "Edit interests", dashboard_edit_skills_path %>
                </div>
              </div>
            </div>
            <div class="recommend-wrapper text-center">
              <a data-toggle="modal" href="#recommendModal">
                Recommend meeters
              </a>
            </div>
            <hr>
          </div> <!--profil wrapper-->
        </div> <!--row-->
      </div> <!--col-->
      <div class="col-md-9">
        <div class="row">
          <div class="dashboard-not-profile">
            <div class="col-md-6 no-marginlr-col">
              <div class="suggestion-wrapper">
                <div class="suggestion-content messagerie">
                  <h3 id="hiding-bar">
                    Suggestions
                  </h3>
                  <div class="underspace"></div>
                  <% @suggestions.sort_by{ |s| s.score }.reverse.each do |suggestion| %>
                    <% if suggestion.status == "valid" %>
                      <% if suggestion.guest == current_user %>
                        <%= link_to connection_meeting_path(suggestion, Meeting.where(connection: suggestion).last) do %>
                          <%= render partial: 'simple_card', locals: {connection: suggestion, contact: suggestion.host, status: suggestion.status, score: suggestion.score} %>
                        <% end %>
                      <% else %>
                        <%= link_to connection_meeting_path(suggestion, Meeting.where(connection: suggestion).last) do %>
                          <%= render partial: 'simple_card', locals: {connection: suggestion, contact: suggestion.guest, status: suggestion.status, score: suggestion.score} %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= render partial: 'contact_card', locals: {connection: suggestion, contact: suggestion.host, status: suggestion.status, score: suggestion.score} %>
                    <% end %> <!--else-->
                  <% end %> <!--@suggestions.each do-->

                  <% @real_connections.each do |real| %>
                    <%= render partial: 'contact_card', locals: {connection: (Connection.find_by(guest: current_user, host: real[:user]) || Connection.find_by(host: current_user, guest: real[:user])), contact: real[:user], status: "connected", score: (Connection.find_by(guest: current_user, host: real[:user]) || Connection.find_by(host: current_user, guest: real[:user])).score} %>
                  <% end %>

                </div>
              </div> <!--suggestion wrapper-->
            </div>

            <div class="col-md-6">
              <div class="row">
                <input type="checkbox" name="toggle-map" id="toggle-map"/>
                <label for="toggle-map"></label>
                <div class="map-work">
                  <% @hashplaces.each do |place| %>
                    <% place[:picture] = { "url": "#{image_path("maps_markers/meeting_place.svg") }", "width":  42, "height": 39 } %>
                  <% end %>
                  <% hash = @hashplaces %>
                  <% hash << @hashhome.first %>
                  <% @hashfriends.each do |friend| %>
                    <% friend[:picture] = { "url": "#{image_path("maps_markers/meeter_connected.svg") }", "width":  46, "height": 43 } %>
                    <% hash << friend %>
                  <% end %>
                  <% @hashsuggestions.each do |suggestion| %>
                    <% suggestion[:picture] = { "url": "#{image_path("maps_markers/meeter_suggested.svg") }", "width":  46, "height": 43 } %>
                    <% hash << suggestion %>
                  <% end %>
                  <% @hashcontent = raw hash.to_json %>
                  <div id="network">
                    <%= render "network" %>
                  </div>
                  <div id="mapContainer" class="map-container">
                    <div id="map">
                      <% content_for(:after_js) do %>
                        <%= render partial: 'gmaps', locals: {hash: @hashcontent} %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="recommendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Users you recommended</h4>
      </div>
      <div class="modal-body">
        <p>
          <% current_user.recommended_users.each do |x| %>
            - <%= x.email %>
          <%end%>
        </p>
        <hr>
        <%= simple_form_for @recommended_user, method: :post do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send invitation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
