
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 40%), url(<%= @array.sample %>);">
  <div class="banner-content">
    <h1 class="title"> ToGather </h1>
    <h3 class="catch-phrase">New perspectives through human strong links</h3>
    <%= link_to "Please Log In", new_user_session_path, class: "btn btn-default" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card1">
        <%= image_tag "group.svg"%>
        <h2>Healthy</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis ratione voluptates, sit eos sequi, cumque ex eum possimus quibusdam quis debitis optio voluptas quam ad modi quod molestiae amet.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card1">
        <%= image_tag "heart.svg"%>
        <h2>Passionate</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quisquam excepturi a corporis nisi doloremque quasi, aperiam iure earum animi alias itaque ipsa sit consequatur laborum mollitia laboriosam qui odio!</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card1">
        <%= image_tag "raquette.svg"%>
        <h2>Social</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatem sunt magni vitae nam, magnam consequatur, debitis nesciunt veritatis animi placeat. Ut accusamus nesciunt esse iusto! Adipisci, quidem, omnis? Praesentium.</p>
      </div>
    </div>
  </div>
</div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 40%), url(<%= @array.sample %>);">
    <div class="banner-content">
      <h1 class="title"> </h1>
      <h3 class="catch-phrase">New perspectives through human strong links</h3>
      <%= link_to "Please Log In", new_user_session_path, class: "btn btn-default" %>
    </div>
  </div>




