<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 40%), url(<%= @array.sample %>);">
      <div class="wrap">
        <div class="line">
          <div class="nav">
            <div class= "nav-logo">
              <%= link_to root_path, class: "navbar-wagon-brand navbar-wagon-link" do %>
                <%= image_tag "http://placehold.it/50x50" %>
              <% end %>
            </div>
            <div class="stretcher">
            </div>
            <div class= "nav-login">
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "login-nav" %>
            </div>
          </div>
          <hr>
        </div>
        <div class="line-stretch">
        </div>
        <div class="home-text">
          <h1 class="title"> ToGather </h1>
          <h3 class="catch-phrase">New perspectives through human strong links</h3>
          <%= link_to "Enter Our World", new_user_session_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
