<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 no-marginlr-col">
      <div class="row">
        <%= render "shared/navbar" %>
<!-- Listing bookings -->
        <div class="profil-wrapper">
          <div class="partner-profile">
            <h2>
              Hello <%= current_user.first_name %>
            </h2>
            <% @places.each do |place| %>
              <% if !place.meetings %>
                <p>No booking to confirm</p>
              <% else %>
                <ul class="text_inline">
                  <% place.meetings.each do |meeting| %>
                    <%= render partial: "card_meeting", locals: {place: place, meeting: meeting} %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      </div> <!--row-->
    </div> <!--col-->
<!-- Listing places -->
    <div class="col-md-9">
      <div class="row">
        <div class="dashboard-not-profile">
          <div class="col-md-6 no-marginlr-col">
            <div class="suggestion-content">
              <div class="row">
                <% if @places.nil? %>
                  <p> No place to show </p>
                <% elsif @count_places == 1 %>
                  <h2>My place (<%= @count_places %>)</h2>
                <% else %>
                  <h2>My places (<%= @count_places %>)</h2>
                <% end %>
                <% if !@places.nil? %>
                  <% current_user.places.each do |place| %>
                    <%= render partial: "card_place", locals: {place: place} %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="map-work">
                <% @hash.each do |marker| %>
                  <% marker[:picture] = { "url": "#{image_path("place2.png") }", "width":  32, "height": 32 } %>
                <% end %>
                <% @hashcontent = raw @hash.to_json %>
                <div id="map">
                  <% content_for(:after_js) do %>
                    <%= render partial: 'gmaps', locals: {hash: @hashcontent} %>
                  <% end %>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  </div>
</div>

<div>
<%= link_to "Suggest a new place", new_place_path %>
</div>
