<div class="cat-form">
  <%= simple_form_for :id_categories, url: skills_path, method: :get do |f| %>
    <%= f.input :categories, collection: @categories, as: :check_boxes, required: true, input_html: { multiple: true } %>
    <%= f.button :submit, value: "submit" %>
  <% end %>
</div>

<div class="category-selection">
  <% Category.all.each do |category| %>
  <div class="category-card unselected" id="<%= category.id %>">
    <%= cl_image_tag category.photo.path, class: "category-img" %>
    <div class="category-title">
      <h3><%= category.name %></h3>
    </div>
    <div class="category-skills-icons">
      <div class="category-skills-sample">
        <div class="carousel slide" data-ride="carousel" data-interval=<%= rand(3000..5000) %> data-pause="null">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="inline-icons">
                <% askills = category.skills.sample(3) %>
                <% askills.each do |askill| %>
                  <%= image_tag(askill.icon) %>
                <% end %>
              </div>
            </div>
            <div class="item">
              <div class="inline-icons">
                <% bskills = category.skills.sample(3) %>
                <% bskills.each do |bskill| %>
                  <%= image_tag(bskill.icon) %>
                <% end %>
              </div>
            </div>
            <div class="item">
              <div class="inline-icons">
                <% cskills = category.skills.sample(3) %>
                <% cskills.each do |cskill| %>
                  <%= image_tag(cskill.icon) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="text-center">
  <div class="submit-wrap">
    <button type="button" class="btn btn-default submit-cat">Submit selection</button>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('.submit-cat').on('click', function(event){
        $('input:submit').click();
      });
      $('.category-card').on('click', function(event) {
        var val = this.id;
        console.log(val);
        $(this).toggleClass('active-card');
        $(this).toggleClass('unselected');
        $('input:checkbox[value='+val+']').click();
        // $('input:checkbox').prop('checked', !('input:checkbox').prop('checked'));
      });
    });
  </script>
<% end %>
