<div class="container">
  <div class="row">
   <%= render "shared/navbar" %>
  </div>
  <div class="row">
    <h1 class="montitre">
      Places
    </h1>
  </div>
  <% @types.each do |type| %>
    <div class="row">
      <div class="marow">
        <h2><%= type.capitalize %> :</h2>
        <% @places.where(type_partner: type).each do |place| %>
          <div class="col-xs-4">
            <div class="macol">
              <% if current_user.status %>

                <div class="card monimage" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= cl_image_path(place.photo.public_id) %>);">
                  <div class="card-description">
                    <h2><%= place.name %></h2>
                    <p><%= place.description %></p>
                  </div>
                  <%= link_to "", place_path(place), class: "card-link" %>
                  <a href=""></a>
                </div>

              <% else %>

                <div class="card monimage" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/diqequpgu/image/upload/v1472165522/photo_place_segabm.jpg');">
                  <div class="card-description">
                    <h2><%= place.name %></h2>
                    <p><%= place.description %></p>
                  </div>
                </div>
                <%= link_to "", connection_meeting_place_path(@connection, @meeting, place), class: "card-link" %>
                <a href=""></a>
              </div>

              <% end %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

