<div class="monbackground">
<div class="container">

  <div class="row">
   <%= render "shared/navbar" %>
  </div>
  <div class="row">
    <h1 class="montitre">
      Pick up a place
    </h1>
  </div>
  <% @types.each do |type| %>
    <div class="row">
      <div class="marow">
        <h2><%= type %> :</h2>

        <% @places.where(type_partner: type).each do |place| %>
          <div class="col-sm-4">
            <div class="macol">
              <% if current_user.status %>

                <div class="card monimage" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= cl_image_path(place.photo.public_id) %>);">
                  <div class="card-description">
                    <h2><%= place.name %></h2>
                    <p><%= place.description %></p>
                  </div>
                  <%= link_to "", place_path(place), class: "card-link" %>
                  <a href=""></a>
                </div>

              <% else %>

                <div class="card monimage" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= cl_image_path(place.photo.public_id) %>);">
                  <div class="card-description">
                    <h2><%= place.name %></h2>
                    <p><%= place.description %></p>
                  </div>
                </div>
                <%= link_to "", connection_meeting_place_path(@connection, @meeting, place), class: "card-link" %>
                <a href=""></a>
              <% end %>
            </div>
          </div>

        <% end %>
</div>
    </div>
   <% end %>
</div>

</div>


