<div class="text-center">
  <h1> Places </h1>
</div>

<div class="container">
  <% @places.each do |place| %>

    <% if current_user.status %>
        <p><%= link_to place.name, place_path(place) %></p>
    <% else %>
      <%= link_to place.name, connection_meeting_place_path(@connection, @meeting, place) %>
    <% end %>

    <p><strong>Type: </strong> <%= place.type_partner %></p>
    <p>une photo?</p>
    <p><strong>Address: </strong><%= place.address %>
    <strong>Phone number: </strong><%= place.phone_number %></p>
    </br>
  <% end %>
</div>
