<p><%= link_to "Back", places_path %></p>
<div class="place-picture">

  <% if @place.photo? %>
    <%= cl_image_tag @place.photo.path, width: 1900, height: 800, crop: :fill %>
  <% end %>

</div>
</br>
<div class="row">
  <div class="text-center">
    <ul class="list-inline">
      <div class="col-sm-3">
        <li>
          <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
          </br>
          </br>
          <p>Visit our <%= @place.type_partner %></p>
        </li>
      </div>
      <div class="col-sm-3">
        <li>
          <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
          </br>
          </br>
          <p> Open 7/7j </p>
        </li>
      </div>
      <div class="col-sm-3">
        <li>
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
          </br>
          </br>
          <p><strong>Find us :</strong></p>
          <p><%= @place.address %></p>
        </li>
      </div>

        <li>
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
          </br>
          </br>
          <p><strong>Contact us :</strong></p>
          <p><%= @place.phone_number %></p>
        </li>
      </div>
    </ul>
  </div>
</div>
</br>
<div class="text-center">
  <h2><%= @place.name %></h2>
  </br>
  <p><strong>Description: </strong><%= @place.description %></p>
  </br>
</div>

<h1> Availability </h1>

<% if @availabilities.first %>
  <ul>
  <% @availabilities.each do |day, array| %>
    <li>
      <%= day+" : " %>
      <% array.each_with_index do |availability, i| %>
        <%= "#{availability[:min_time].strftime "%Hh%M"} - #{availability[:max_time].strftime "%Hh%M"}" %>
        <% unless i == array.count - 1 %>
          <%= ", " %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if current_user.status %>
  <%= link_to "back", partner_path %>
<% else %>
  <%= render "options_meeter" %>
<% end %>








