<p><%= link_to "Go back to the list", places_path %></p>

<div class="container">
    <p><h2><%= @place.name %></h2></p>
    <p><strong>Address: </strong><%= @place.address %></p>
    <p><strong>Description: </strong><%= @place.description %></p>
    <p><strong>Phone number: </strong><%= @place.phone_number %></p>
    <p><strong>Type: </strong> <%= @place.type_partner %></p>
    <p><strong>Pax: </strong> <%= @place.pax %></p>
    </br>

    <% unless current_user.status %>
      <%= link_to "booked", connection_meeting_place_path(@connection, @meeting, @place), method: :patch %>
    <% end %>


</div>


